@media (min-width: 1920px) {
	.barLooks{
		margin: 0 0 0.5vw 0;
		width: 100%;
	}
	.big-name{
		font-size: 2.5vw;
		line-height: 5vh;
	}
	.menu{
		padding: 0;
	}
	.btn-magic {
		padding: 0.2vw;
		margin: 0.2vw;
		font-size: 2vw;
	}
	li.fltRight{
		margin-right: 4vw;
		line-height: 5vh;
	}

	/* --- Menu until here --- */

	.post-title{
		font-size: 2.5vw;
	}
	.post-content {
		font-size: 1.5vw;
	}
	#allContent > div:nth-child(2) > div > div:nth-child(3) > div.slides-container > div > div {
    	padding-top: 1vw;
	}
	.post-image {
		padding: 0;
	}
	#hide-content > p {
		font-size: 1.5vw;
	}
}